@font-face {
  font-family: "Helvetica Neue";
  src: url("../style/fonts/HelveticaNeuBold.ttf") format("truetype"), url("../style/fonts/helveticaneue-webfont.woff") format("woff"),
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: rgba(192, 192, 192, 0.16);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 10px;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 20px 20px 0 0;
}

.fas,
.fab {
  color: #414464;
  font-size: 21px;
  margin: 0 5px;
}

.head-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.fa-user-circle {
  border-left: 1px solid gray;
  width: 30%;
  padding-left: 15px;
}

.head-logo {
  color: #4e50b8;
  font-size: 30px;
}

.head-logo span {
  color: #f0916e;
}

.main-container {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  gap: 10px;
  margin: 20px auto;
  width: 95%;
  height: 480px;
}

.main-container img {
  max-width: 43px;
  height: auto;
  border-radius: 5px;
}

.left-side {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.user-panel {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  gap: 5px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 5px;
  height: 70px;
}

.user-info {
  margin-left: 10px;
}

.user-info h4 {
  margin-bottom: 5px;
}

.user-info span {
  color: #4e50b8;
}

.user-panel .fa-heart {
  color: #f0916e;
}

.left-side-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 70%;
  margin-top: 20px;
  color: rgb(71, 70, 70);
}

.left-side-bottom .msg-count {
  display: inline-block;
  margin-left: 80px;
  width: 40px;
  color: #fff;
  background-color: #f0916e;
  border-radius: 3px;
  text-align: center;
  box-shadow: 2px 2px 6px #414464;
}

.mid-buttons .fa-heart {
  color: #fff;
}

.mid-container {
  width: 95%;
  margin: 0 auto;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-user {
  position: relative;
}

.users h3 {
  transform: rotate(90deg);
  height: 25px;
}

.first-user p {
  position: absolute;
  color: #fff;
  background-color: #f0916e;
  width: 17px;
  text-align: center;
  border-radius: 50%;
  top: 15px;
  right: -7px;
}

.head-pic {
  position: relative;
  margin-top: 15px;
  border-radius: 10px;
  height: 85%;
  background: top center / cover url(../images/office-staff.jpg) no-repeat;
}

.head-pic-location {
  height: 10%;
}

.head-pic-location .fas {
  position: relative;
  top: 60%;
  left: 7%;
  color: #fff;
}

.fa-long-arrow-alt-left {
  display: none;
}

/* .fa-location-arrow {
  
} */

.indicator {
  position: relative;
  left: 90%;
  height: 50px;
  width: 82px; 
  transform: rotate(90deg);
}

.indicator p {
  display: inline;
  font-size: 58px;
}

.dull {
  color: gray;
}

.active {
  color: #f0916e;
}

.mid-buttons {
  position: absolute;
  bottom: 5%;
  left: 7%;
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.mid-buttons button {
  width: 14%;
  height: 95%;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 28px;
  color: silver;
}

.mid-buttons .cancel-button {
  background-color: #f0916e;
  color: #fff;
}

.mid-buttons .heart-button {
  background-color: #4e50b8;
}